header {
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    color: #1d0404;
}
.header_container {
    text-align: center;
    height: 100%;
    display: flex;
    gap: 5rem;
}

.col-1 {
    padding-top: 7rem;
}

/* ========== CTA ========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ========== HEADER SOCIALS ========== */

.header-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    position: relative;
    left: 35%;
    top: 3rem ;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* ========== ILLUSTRATION ========== */

.col-2 .illustration {
    background: var(--color-primary);
    margin-top: 4rem;
    border-radius: 10% 50%;
    overflow: hidden;
}

.col-1, .col-2 {
    width: 50%;
}

@media screen and (max-width: 1024px) {

    .col-1, .col-2 {
        width: var(--container-width-md);
    }

    .header_container {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 600px) {
    
    header {
        height: 100vh;
    }

    .header-socials {
        display: none;
    }
    
    .cta {
        flex-direction: column;
        align-items: center;
    }
}
