footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 7rem;
    padding: 3rem 0;
    background: var(--color-primary-variant);
}

footer a {
    color: var(--color-bg);
}

footer a:hover {
    font-weight: bold;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 1.5rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.social a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.social a:hover {
    background-color: transparent;
}

.footer-copyright {
    margin-bottom: 2rem;
    color: var(--color-bg);
}

/* ==========  MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .social {
        margin-bottom: 2.6rem;
    }
}
