.social {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.social a {
    background-color: #000000;  /*background color*/
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.soc-icon:hover {
    background-color: transparent;
    color: #F5CDA7;
}
